# For the control on the map which search by an address
NEXT_PUBLIC_GEOAPIFY_API_KEY=

# Database URL (+ user / password)
DATABASE_URL="postgres://DB_USER:DB_PWD@localhost:5432/DB_NAME"

# Google authentication
AUTH_GOOGLE_ID=votre_client_id.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=votre_client_secret
AUTH_SECRET=un_code_aleatoire_tres_long # Générez-en un avec `npx auth secret`