@import "tailwindcss";
@import "../node_modules/@geoapify/geocoder-autocomplete/styles/minimal.css";
@import "primereact/resources/themes/lara-light-cyan/theme.css";
@import "primeicons/primeicons.css";

html,
body,
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.geoapify-autocomplete-input {
  background-color: white;
}
